---
import MainLayout from "@layouts/MainLayout.astro";
import { getStaticPaths, getI18nProps } from "@i18n/helperi18n";
import MapComponent from "@components/maps/MapComponent.astro";

export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, "map");

// SEO - Mapa y Localización
const description = t('seo.map.description');
const keyword = t('seo.map.keywords');

// OG - Map
const ogTitle = t('seo.map.title');
const ogDescription = t('seo.map.ogDescription');
const ogImage = "https://lamevallar.splytin.com/images/og-home.jpg";
const ogURL = `https://lamevallar.splytin.com/${lang}/map`;
const ogType = t('seo.map.ogType');


---

<MainLayout 
  title={title} 
  lang={lang}
  description={description}
  keyword={keyword}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogImage={ogImage}
  ogURL={ogURL}
  ogType={ogType}
>
  
  <div class="section">
    <MapComponent />
  </div>

</MainLayout>
